.parametro , .botao_calcular , .ExibicaoCalculoFinal , .OBSdesconto{
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.toda_a_sessao{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo_pizzaria{
    margin: 30px;
    margin-bottom: 68px;
    width: 381px;
    height: 353px;
}
.Todo_o_formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.parametro{
    width: 400px;
    text-align: left;
    font-size: 15px;
    margin-bottom: 10px;
}
.conteudo_da_caixa{
    width: 400px;
    height: 42px;
    border-color: #CCCCCC;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 25px;
}
.botao_calcular{
    width: 400px;
    height: 42px;
    padding: 10px;
    margin-top: 160px; 
    border-radius: 10px;
    border: none;
    background-color: #284a5e;
    color: #f0f0f0;
    font-size: 13px;
    cursor: pointer;
}
.modal {
    z-index: 1; /* Sobreposição */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-conteudo, .modal-conteudo1{
    position: relative;
    background-color: #fff;
    margin: 15% auto; 
    padding: 20px;
    border: none;
    width: 465px;
    height: 230px;
    text-align: center;
    border-radius: 8px; 
}
.modal-conteudo{
    height: 100px;
}
.modal-conteudo p{
    margin : 8px;
    font-size: 14px;
}
.modal-conteudo h2{
    margin: 10px;
}
{

}
.botaoModal , .modal-conteudo p , .CONCLUIR, .modal-conteudo1 h2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.botaoModal, .btn__concluir{
    width: 180.5px;
    height: 44px;
    border-radius: 8px;
}
.btn__concluir{
    margin-top: 10px;
}
.botaoModal:nth-of-type(1){
    background-color: #ffffff;
    margin-right: 36px;
}
.botaoModal:nth-of-type(2), .btn__concluir{
    background-color: #284A5E;
    color: #ffffff;
}
.botaoModal:hover, .btn__concluir:hover{
    background-color: #092d40;
    color: #ffffff;
    transition: 700ms;
}
.ExibicaoCalculoFinal , .OBSdesconto{
    color:#54595E99;
}
.close{
    position: absolute;
    display:flex;
    font-size: 24px;
    margin-left: 95%;
    top: 10px;        
    right: 10px;      
    width: 24px;
    height: 24px;
    background-color: #e5e5e5;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
    align-items: center;    
    justify-content: center; 
    
}
.close:hover {
    background-color: #ffcccc; /* Fundo ao passar o mouse */
    color: #d00; 
    transition: 1s;              /* Cor do X ao passar o mouse */
}